<h1>Act: <span ng-bind="showactCtrl.act.name"></span></h1> 

<h3>Approval Rating</h3>
<span ng-bind="showactCtrl.act.currApprovalRating"></span>%
out of: <span ng-bind="showactCtrl.act.approval_rating.length"></span> user(s)

<h3>Average User Rating</h3>
<span ng-bind="showactCtrl.act.currAverageUserRating"></span>

<h3>Users</h3>
<table>
<tr>
	<th>Name</th>
</tr>
<tr ng-repeat="user in showactCtrl.act.users">
	<td><a href="#/user/{{user._id}}"<span ng-bind="user.name"></span></a></td>


</tr>

</table>

