<div>
	<style>
		.contactContainer {
			background: rgba(0,0,0,0.8);
			border-top-right-radius: 20px;
			border-bottom-left-radius: 20px;
			border: solid 10px rgba(29,150,29,0.7);
			width: 100%;
			height: 100%;
			padding: 5% 10%;
			text-align: center;
			font-size: 18px;
			color: white;
		}

		form {
			text-align: left;
		}

		p {
			margin: 1.5%;
		}

		button {
			background: rgba(29,150,29,0.8);
			font-size: 20px;
			padding: 1% 2%;
			color: white;
			font-weight: bold;
		}

		button:hover {
			background: rgba(51, 204, 255, 0.7);
		}

	</style>
	<div class="contactContainer">	
		<form>
			<p>First Name: <input type="text"  size="50"></p>
			<p>Last Name: <input type="text"  size="50"></p>
			<p>Email: <input type="text"  size="50"></p>
			<p>Comment/Concern:</p>
			<textarea rows="7" cols="63"></textarea><br><br>
			<button>Submit</button>
		</form>
	</div>
</div>