
<link rel="stylesheet" href="./stylesheets/friendDash-styles.css">
<div>
  <div class='friendDashboardContainer'>
    <h2><span class='welcome' ng-bind="frienddashboardCtrl.userName"></span>'s Friends Page</h2>





<div id='users'>
  Search users: <input type="text" ng-model="newfriendFilter">
  <table>
    <tr>
      <th>Name</th>
      <th>Pending DAK's</th>
      <th>Done DAK's</th>
      <th>Add Friend</th>
    </tr>
    <tr ng-repeat="user in frienddashboardCtrl.mynotfriends" | ng-if="user._id != frienddashboardCtrl.userId">
      <td><span ng-bind="user.name"></span></td>
      <td><span ng-bind="user._id"></span></td>
      <td><span ng-bind="user.done"></span></td>
      <td><input type="submit" ng-click="frienddashboardCtrl.addFriend(user)" value="Add"></td>
    </tr>
  </table>
  </div>
</div>