
<link rel="stylesheet" href="./stylesheets/friendDash-styles.css">

<div>
  <div class='friendDashboardContainer'>
    <h2><span class='welcome'></span>Add a Friend!</h2>





<div id='users'>
  Search users: <input type="text" ng-model="newfriendFilter" >
  <table class='table'>
    <tr class='steelblue'>
      <th>Name</th>
      <th>Pending DAK's</th>
      <th>Done DAK's</th>
      <th>Add Friend</th>
    </tr>

    <tr class='forrestgreen' ng-repeat="user in frienddashboardCtrl.mynotfriends | filter:newfriendFilter | orderBy: 'name'" ng-if="user._id != frienddashboardCtrl.userId">
      <td class='centered'><span ng-bind="user.name"></span></td>
      <td class='centered'><span ng-bind="user._id"></span></td>
      <td class='centered'><span ng-bind="user.done"></span></td>
      <td class='centered'><button type='submit' class='btn btn-success' ng-click='frienddashboardCtrl.addFriend(user)'>Add</button>


    
    </tr>
  </table>
  </div>
</div>
</div>