<link rel="stylesheet" href="./stylesheets/friendDash-styles.css">
<div>
  <div class='friendDashboardContainer'>
    <h2><span class='welcome' ng-bind="frienddashboardCtrl.userName"></span>'s Friends Page</h2>
    <div id='searchFriends'>
        Search Your Friends: <input type="text" ng-model="yourfriendFilter">
      <table class='table'>
        <tr class='steelblue'>
          <th>Name</th>
          <th>Pending DAK's</th>
          <th>Done DAK's</th>
          <th>Remove Friend</th>
        </tr>
        <tr class='forrestgreen' ng-repeat="friend in frienddashboardCtrl.friends | filter:yourFriendFilter">
          <td><span ng-bind="friend.name"></span></td>
          <td><span ng-bind="friend.pending"></span></td>
          <td><span ng-bind="friend.done"></span></td>
          <td><input type="submit" ng-click="frienddashboardCtrl.removeFriend(friend)" value="Remove"></td>
        </tr>
    </table>
  </div>


<div id='users'>
  Search users: <input type="text" ng-model="newfriendFilter">
  <table>
    <tr>
      <th>Name</th>
      <th>Pending DAK's</th>
      <th>Done DAK's</th>
      <th>Add Friend</th>
    </tr>
    <tr ng-repeat="user in frienddashboardCtrl.users  | filter:newfriendFilter" | ng-if ="user._id != frienddashboardCtrl.userId">
      <td><span ng-bind="user.name"></span></td>
      <td><span ng-bind="user.pending"></span></td>
      <td><span ng-bind="user.done"></span></td>
      <td><input type="submit" ng-click="frienddashboardCtrl.addFriend(user)" value="Add"></td>
    </tr>
  </table>
  </div>
</div>