<div class="loginContainer">
<style>
    .loginContainer {
      background: rgba(0,0,0,0.8);
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border: solid 10px rgba(29,150,29,0.7);
      width: 100%;
      height: 100%;
      font-size: 18px;
      color: rgba(51, 204, 255, 0.7);
      text-align: left;
    }

    .col-md-4 {
      float: center;
    }

    button {
      background: rgba(29,150,29,0.8);
      font-size: 20px;
      padding: 1% 2%;
      color: white;
      font-weight: bold;
    }

    button:hover {
      background: rgba(51, 204, 255, 0.7);
    }

    h1 {
      margin: 10%;
      text-align: center;
      color: rgba(51, 204, 255, 0.7);
    }

</style>

<div class="col-md-4 col-md-offset-4">
  <h1>Login</h2>
  <div ng-if="loginCtrl.error">
    <span ng-bind="loginCtrl.error"></span>
  </div>
 
  <form class="form" ng-submit="loginCtrl.login()">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" ng-model="loginCtrl.loginForm.email" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginCtrl.loginForm.password" required>
      </div>
      <div>
        <button  type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
      </div>
  </form>
</div>
</div>