<div class="registerContainer">
<style>
    .registerContainer {
      background: rgba(0,0,0,0.8);
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border: solid 10px rgba(29,150,29,0.7);
      width: 100%;
      height: 100%;
      padding: 5% 10%;
      text-align: center;
      font-size: 18px;
      color: white;
    }

    button {
      background: rgba(29,150,29,0.8);
      font-size: 20px;
      padding: 1% 2%;
      color: white;
      font-weight: bold;
    }

    button:hover {
      background: rgba(51, 204, 255, 0.7);
    }

</style>

<div class="col-md-4">
  <h1>Register</h2>
  <div ng-show="registerCtrl.error" class="alert alert-danger"></div>
  <form class="form" ng-submit="registerCtrl.register()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" ng-model="registerCtrl.registerForm.name" required>
    </div>
    <div class="form-group">
      <label>Alias</label>
      <input type="text" class="form-control" name="alias" ng-model="registerCtrl.registerForm.alias" required>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email"
      ng-model="registerCtrl.registerForm.email" required>
    </div>
    <div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="registerCtrl.registerForm.password" required>
      </div>
      <div>
        <button type="submit"  class="btn btn-default" ng-disabled="disabled">Register</button>
      </div>
  </form>
</div>
