<link rel="stylesheet" href="./stylesheets/userDash-styles.css">
<div class="userdashboardContainer">

  <h2><span ng-bind="userdashboardCtrl.userName"></span>'s User Dashboard</h2>

  <div ng-show="userdashboardCtrl.currentUserRating">
    <h4><span id="blue">Your Rating:</span> <span ng-bind="userdashboardCtrl.currentUserRating"></span></h4>
  </div>

  <button ng-click="userdashboardCtrl.generateDAK()">Generate Daily Act</button>


===
<div class="btn-group-xs" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Middle</button>
</div>

===



<!--   ============the daily act is repeating here and in pending=======
  <div ng-show="userdashboardCtrl.generatedDAK">
  <span ng-bind="userdashboardCtrl.generatedDAK.name"></span>
  </div>
  =============so I commented it out - Dale ======================= -->
<!--  <table id='friends'>
      Search Your Friends: <input type="text" ng-model="yourfriendFilter">
      <tr>
        <th>Name</th>
        <th>Pending DAK's</th>
        <th>Done DAK's</th>
        <th>Remove Friend</th>
      </tr>
      <tr ng-repeat="friend in userdashboardCtrl.user.friends | filter:yourFriendFilter">
        <td><a href="#/user/{{friend._id}}"<span ng-bind="friend.name"></span></a></td>
        <td><span ng-bind="friend.pending"></span></td>
        <td><span ng-bind="friend.done"></span></td>
        <td><input type="submit" ng-click="frienddashboardCtrl.removeFriend(friend)" value="Remove"></td>
      </tr>
    </table> -->

    <h3>Your Pending Acts</h3>
  <div ng-repeat="act in userdashboardCtrl.user.acts" | ng-if="act.completed != true">
    <a href="#/act/{{act.act_info._id}}"<span ng-bind="act.act_info.name"></span></a>


    <button ng-click="showcomplete=true">Complete</button>

    <div ng-show="showcomplete">

      <form>
        Would you recommend this act to others?
        
        Yes: <input type="radio" name="recommend" ng-model="userdashboardCtrl.completeActForm[$index].recommend" value="1">
        No:<input type="radio" name="recommend" ng-model="userdashboardCtrl.completeActForm[$index].recommend" value="0">

        <select ng-model="userdashboardCtrl.completeActForm[$index].actrating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>

        <textarea rows="4" cols="10" ng-model="userdashboardCtrl.completeActForm[$index].comment" placeholder="Comment on this act">
        </textarea>



        <input type="submit" ng-click="userdashboardCtrl.sendCompleteAct(act.act_info._id, $index)" value="Submit" >

      </form>
    </div>

  </div>


<hr>
  <h3>Your Completed Acts</h3>
  <div ng-repeat="act in userdashboardCtrl.user.acts" | ng-if="act.completed != false">
    <a href="#/act/{{act.act_info._id}}"<span ng-bind="act.act_info.name"></span></a>
  </div>



</div>