<div>

          <form class="form" ng-submit="homepageCtrl.createDAK()">
            <div class="row">
                <div class="col-xs-5">
                  <input type="text" class="form-control" placeholder="Submit An Act of Kindness" ng-model="homepageCtrl.newDAK.name">
                </div>
                <button type="submit" class="btn btn-default" ng-click='hompageCtrl.createDAK()'>Submit</button>
            </div>
            <!-- <input type="submit" ng-click="homepageCtrl.createDAK()" class="input-group-addon"></span> -->
          <div ng-show="homepageCtrl.actSubmittedMessage">
          <span ng-bind="homepageCtrl.actSubmittedMessage"></span>
          </div>
          </form>
  

</div>





