<div class="userdashboardContainer">
	<style>
    .userdashboardContainer {
      background: rgba(0,0,0,0.8);
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border: solid 10px rgba(29,150,29,0.7);
      width: 100%;
      height: 100%;
      padding: 5% 10%;
      text-align: center;
      font-size: 18px;
      color: white;
    }

    button {
      background: rgba(29,150,29,0.8);
      font-size: 20px;
      padding: 1% 2%;
      color: white;
      font-weight: bold;
    }

    button:hover {
      background: rgba(51, 204, 255, 0.7);
    }

</style>
	<h1><span ng-bind="userdashboardCtrl.userName"></span>'s User Dashboard</h1>


  <button ng-click="userdashboardCtrl.generateDAK()">Generate DAK</button>
  <div ng-show="userdashboardCtrl.generatedDAK">
  <span ng-bind="userdashboardCtrl.generatedDAK.name"></span>
  </div>

	<table id='friends'>
      Search Your Friends: <input type="text" ng-model="yourfriendFilter">
      <tr>
        <th>Name</th>
        <th>Pending DAK's</th>
        <th>Done DAK's</th>
        <th>Remove Friend</th>
      </tr>
      <tr ng-repeat="friend in userdashboardCtrl.user.friends | filter:yourFriendFilter">
        <td><span ng-bind="friend.name"></span></td>
        <td><span ng-bind="friend.pending"></span></td>
        <td><span ng-bind="friend.done"></span></td>
        <td><input type="submit" ng-click="frienddashboardCtrl.removeFriend(friend)" value="Remove"></td>
      </tr>
    </table>


  



</div>



