<h1><span ng-bind="showuserCtrl.user.name"></span>'s Dashboard </h1> 
<p><input type="submit" ng-click="showuserCtrl.addFriend(showuserCtrl.user._id)" value="Add"></p>
<span ng-bind="showuserCtrl.user.name"></span>'s Rating:
<div ng-show="showuserCtrl.currentUserRating">
  <h1><span ng-bind="showuserCtrl.currentUserRating"></span>
  </div>


	<table id='friends'>
      Search <span ng-bind="showuserCtrl.user.name"></span>'s Friends: <input type="text" ng-model="yourfriendFilter">
      <tr>
        <th>Name</th>
        <th>Friend Rating</th>
        <th>Add Friend</th>
       
      </tr>
      <tr ng-repeat="friend in showuserCtrl.user.friends | filter:yourFriendFilter">
        <td><a href="#/user/{{friend._id}}"<span ng-bind="friend.name"></span></a></td>
        <td><span ng-bind="friend.rating"></span></td>
        <td><input type="submit" ng-click="showuserCtrl.addFriend(friend)" value="Add"></td>
       
      </tr>
    </table>

    <h3><span ng-bind="showuserCtrl.user.name"></span>'s Pending Acts</h3>
  <div ng-repeat="act in showuserCtrl.user.acts" | ng-if="act.completed != true">
    <span ng-bind="act.act_info.name"></span>     
    </div>

  </div>


<hr>
  <h3><span ng-bind="showuserCtrl.user.name"></span>'s Completed Acts</h3>
  <div ng-repeat="act in showuserCtrl.user.acts" | ng-if="act.completed != false">
    <span ng-bind="act.act_info.name"></span>
  </div>



</div>
