* {
    color: white;
}

.friendDashboardContainer {
      background: rgba(0,0,0,0.8);
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border: solid 10px rgba(29,150,29,0.7);
      width: 100%;
      height: 100%;
      /*padding: 5% 10%;*/
      /*text-align: left;*/
      font-size: 18px;
      color: white;
      overflow: scroll;
}

.friendDashboardContainer h2, .table th {
  text-align: center;
}

.table tr {
    height: 20px;
}

#links {
    margin-top: 5%;
    text-align: center;
}
.welcome {
    font-size: 
}
.table{
    width: 100%;
    margin-top: 3%;
    overflow: scroll;
}
#friends {
    margin-bottom: 3%;
}
h1 {
    padding-left: 0%;
   /* margin-bottom: 7%;*/
}
#searchFriends, #users{
    padding: 5%;
}

.steelblue{
    background-color: rgba(49,122,183, 0.7);
    
}

.forrestgreen{
    
    background-color: rgba(29,114,29,0.7);
}

.table{
    color: white;
    overflow: scroll;
}
.centered{
    text-align: center;
}
