<html ng-app="dak_app">
	<head>
	<title>Daily Acts of Kindness</title>
	<!-- ========jQuery...Needed by Bootstrap========= -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	
	<!-- ==========BootStrap Links==================== -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<!-- ================stylesheet/css=============== -->
	<link rel="stylesheet" href="./stylesheets/styles.css">
	<script src="./source/angular.js"></script>
	<script src="./source/angular_routes.js"></script>
	<script src="./source/angular-cookies.js"></script>
	
	<script src="./javascript/main.js"></script>
	
	<script src="./javascript/controllers/homepageController.js"></script>
	<script src="./javascript/controllers/loginController.js"></script>
	<script src="./javascript/controllers/logoutController.js"></script>
	<script src="./javascript/controllers/registerController.js"></script>
	
	<script src="./javascript/controllers/userdashboardController.js"></script>
	<script src="./javascript/controllers/frienddashboardController.js"></script>
	<script src="./javascript/controllers/leaderdashboardController.js"></script>
	<script src="./javascript/factories/friendFactory.js"></script>
	<script src="./javascript/factories/userFactory.js"></script>
	<script src="./javascript/factories/actFactory.js"></script>
	<script src="./javascript/factories/feedbackFactory.js"></script>


</head>
<body ng-controller="homepageController as homepageCtrl">
	<div id="header">
		<div ng-show="homepageCtrl.loggedin()">
			<a href="#/logout">Logout</a>
		</div>
		<a href="#/login">
		<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></a></span>
	</div>
	<div id="container" ng-view>
	</div>
		<table class="mango">
			<tr>
				<td>
					<div class="input-group col-sm-4">
						<input type="text" class="form-control" placeholder="Submit An Act of Kindness" ng-model="homepageCtrl.newDAK.name">
						<input type="submit" ng-click="homepageCtrl.createDAK()" class="input-group-addon">Submit</span>
					</div>
				</td>
				<td><a href="#/register">Register</a></td>
				<td><a href="#/contact_us">Contact Us</a></td>
				<td><a href="#/">Home</a></td>
			</tr>
		</table>
</body>
</html>	
