<html ng-app="dak_app">
	<head>
	<title>Daily Acts of Kindness</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<!-- JQUERY -->
	<script src="./source/angular.js"></script>
	<script src="./source/angular_routes.js"></script>
	<script src="./source/angular-cookies.js"></script>
	<!-- ================stylesheet/css=============== -->
	<link rel="stylesheet" href="./stylesheets/styles.css">
	<script src="./javascript/main.js"></script>
	<script src="./javascript/controllers/homepageController.js"></script>
	<script src="./javascript/controllers/loginController.js"></script>
	<script src="./javascript/controllers/logoutController.js"></script>
	<script src="./javascript/controllers/registerController.js"></script>
	<script src="./javascript/controllers/userdashboardController.js"></script>
	<script src="./javascript/controllers/frienddashboardController.js"></script>
	<script src="./javascript/controllers/leaderdashboardController.js"></script>
	<script src="./javascript/factories/friendFactory.js"></script>
	<script src="./javascript/factories/userFactory.js"></script>
	<script src="./javascript/factories/actFactory.js"></script>
	<script src="./javascript/factories/feedbackFactory.js"></script>
	

	<!-- ==============BootStrap================= -->
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
	<script src="./angular-bootstrap/ui-bootstrap-tpls.js"></script>

</head>
<body ng-controller="homepageController as homepageCtrl">
	<div id="header">	
		<div id="loggedInMenu" ng-show="homepageCtrl.loggedin()">
			<a href="#/userdashboard"> My Dashboard</a> |
			<a href="#/frienddashboard"> Add a Friend</a> |
			<a href="#/leaderdashboard"> Leaderboard</a> |
			<a href="#/logout">Logout</a>
		</div>
		<div id='sandwich'>
			<a href="#/login">
				<span class="glyphicon glyphicon-align-justify" aria-hidden="true">
				</span>
			</a>
		</div>
	</div>
	
	<div id="container" ng-view>
	</div>
		<table class="mango">
			<tr>
				<td>
					<form class="form" ng-submit="homepageCtrl.createDAK()">
						<div class="row">
					  		<div class="col-xs-5">
					    		<input type="text" class="form-control" placeholder="Submit An Act of Kindness" ng-model="homepageCtrl.newDAK.name">
					  		</div>
					  		<button type="submit" class="btn btn-default" ng-click='hompageCtrl.createDAK()'>Submit</button>
						</div>
						<!-- <input type="submit" ng-click="homepageCtrl.createDAK()" class="input-group-addon"></span> -->
					<div ng-show="homepageCtrl.actSubmittedMessage">
					<span ng-bind="homepageCtrl.actSubmittedMessage"></span>
					</div>
					</form>
				</td>
				<td><a href="#/register">Register</a></td>
				<td><a href="#/contact_us">Contact Us</a></td>
				<td><a href="#/">Home</a></td>
			</tr>
		</table>
</body>
</html>	
